body {
  font-family: sans-serif;
  background-color: #e0dbdb;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  display: none;
}

.loader {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.breed-select {
  margin-bottom: 30px;
  width: 100%;
  padding: 5px;
  font-size: 1em;
}
